/* keyframe animation */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* applying animation to text element */
.large-text {
    font-size: 72px;
    color: white;
    width: 100%;
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    animation: fadeIn 1s ease-in;
    opacity: 0;
    animation-fill-mode: forwards;
}
